@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Quicksand', sans-serif;
}

.imgmouseover {
  &:hover {
    opacity: 70%;
  }
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
}
